USE [master]
GO
/****** Object:  Database [AloTra]    Script Date: 16/12/2025 10:01:56 PM ******/
CREATE DATABASE [AloTra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AloTra', FILENAME = N'D:\lam web\database\AloTra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AloTra_log', FILENAME = N'D:\lam web\database\AloTra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AloTra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AloTra]
GO
/****** Object:  Table [dbo].[Bill_details]    Script Date: 16/12/2025 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill_details](
	[productid] [int] NOT NULL,
	[buyerid] [int] NOT NULL,
	[quantity] [int] NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_Bill_details] PRIMARY KEY CLUSTERED 
(
	[productid] ASC,
	[buyerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16/12/2025 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 16/12/2025 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[price] [int] NULL,
	[inventory] [int] NULL,
	[categoryid] [int] NULL,
	[supplierid] [int] NULL,
	[image] [nvarchar](500) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 16/12/2025 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[phone] [varchar](11) NULL,
	[address] [nvarchar](500) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/12/2025 10:01:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[fullname] [nvarchar](250) NULL,
	[password] [nvarchar](250) NULL,
	[avatar] [nvarchar](500) NULL,
	[roleid] [int] NULL,
	[phone] [nvarchar](20) NULL,
	[createddate] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bill_details] ([productid], [buyerid], [quantity], [date], [time], [price]) VALUES (1, 3, 1, CAST(N'2025-12-16' AS Date), CAST(N'20:01:59' AS Time), 45000)
INSERT [dbo].[Bill_details] ([productid], [buyerid], [quantity], [date], [time], [price]) VALUES (3, 2, 1, CAST(N'2025-12-16' AS Date), CAST(N'20:04:00' AS Time), 65000)
INSERT [dbo].[Bill_details] ([productid], [buyerid], [quantity], [date], [time], [price]) VALUES (4, 2, 1, CAST(N'2025-12-17' AS Date), CAST(N'08:04:20' AS Time), 59)
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name]) VALUES (1, N'Trà sữa')
INSERT [dbo].[Categories] ([id], [name]) VALUES (2, N'Trà trái cây')
INSERT [dbo].[Categories] ([id], [name]) VALUES (3, N'Cà phê')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [price], [inventory], [categoryid], [supplierid], [image]) VALUES (1, N'Trà Sữa Phúc Long (L)', 45000, 20, 1, 3, NULL)
INSERT [dbo].[Products] ([id], [name], [price], [inventory], [categoryid], [supplierid], [image]) VALUES (2, N'Oolong Mộc Sen Kem Phô Mai', 38000, 15, 2, 2, NULL)
INSERT [dbo].[Products] ([id], [name], [price], [inventory], [categoryid], [supplierid], [image]) VALUES (3, N'Thanh Hương Camellia', 65000, 30, 1, 6, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([id], [name], [phone], [address]) VALUES (2, N'Tocotoco', N'1900636936', N'Tầng 5 tòa Tower 1, KĐT Times City, 458 Minh Khai, phường Vĩnh Tuy, quận Hai Bà Trưng, Hà Nội.')
INSERT [dbo].[Suppliers] ([id], [name], [phone], [address]) VALUES (3, N'Phúc Long', N'18006779', N'Phòng 702, Tầng 7, Tòa nhà Central Plaza, số 17 Lê Duẩn, phường Bến Nghé, quận 1, Hồ Chí Minh.')
INSERT [dbo].[Suppliers] ([id], [name], [phone], [address]) VALUES (4, N'Highland', N'02871096801', N'01 Đ. Võ Văn Ngân, Phường, Thủ Đức, Thành phố Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [email], [fullname], [password], [avatar], [roleid], [phone], [createddate]) VALUES (1, N'admin', N'admin@mail.com', N'Admin', N'123', NULL, 1, N'0123456789', CAST(N'2025-10-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([id], [username], [email], [fullname], [password], [avatar], [roleid], [phone], [createddate]) VALUES (2, N'user', N'user@email.com', N'User', N'123', NULL, 2, N'0987654321', CAST(N'2025-11-25T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([id], [username], [email], [fullname], [password], [avatar], [roleid], [phone], [createddate]) VALUES (3, N'User2', N'user2@mail.com', N'user2', N'123', N'adfsdfe', 2, N'0147258369', CAST(N'2025-12-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Bill_details]  WITH CHECK ADD  CONSTRAINT [FK_Bill_details_Products] FOREIGN KEY([productid])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Bill_details] CHECK CONSTRAINT [FK_Bill_details_Products]
GO
ALTER TABLE [dbo].[Bill_details]  WITH CHECK ADD  CONSTRAINT [FK_Bill_details_Users] FOREIGN KEY([buyerid])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bill_details] CHECK CONSTRAINT [FK_Bill_details_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([categoryid])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([supplierid])
REFERENCES [dbo].[Suppliers] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
USE [master]
GO
